[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "pattern_matching"]
	path = pattern_matching
	url = https://github.com/newocean-group/opencv-novs.git
