[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "opencv_novs"]
	path = opencv_novs
	url = https://github.com/newocean-group/opencv-novs.git
